.shell_for_search_people {
  display: flex;
  min-height: 250px;
  height: 100%;
  min-width: 900px;
  justify-content: center;
  align-items: center;
}
.search_people_2 {
  display: grid;
  grid-template-rows: 1fr 5fr;
  height: calc(80% - 6px);
  background: linear-gradient(to top left, hsla(280, 62%, 10%, 0.65), hsla(339, 66%, 10%, 0.65));
  backdrop-filter: blur(5px);
  width: calc(80% - 6px);
}
.search_people_2 > form {
  margin: 20px;
}
.search_input_line {
  color: white;
  font-family: "gilroy-medium", serif;
  font-size: 20px;
  background: linear-gradient(to top left, hsla(281, 61%, 26%, 0.8), hsla(340, 65%, 24%, 0.8));
  padding-left: 15px;
  padding-right: 15px;
  backdrop-filter: blur(5px);
  width:calc(70% - 30px );
  height: 30px;
  border-radius: 5px;
  border: none;
}
.search_input_line:focus{
  outline: none;
}
.search_button_from_search_page {
  padding: 2px 2px 2px;
  background: none;
  border-radius: 20px;
  border: 2px solid #ff5b79;
  color: #ff5b79;
  height: 30px;
  width: 150px;
  margin-left: 10px;
}

.search_button_from_search_page:hover{
    background: #FF5B79;
    color: #802b3b;
}

.list_of_finded_people{
  max-height: 300px;
  overflow: auto;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
.one_finded_people {
  margin-top: 20px;
  color: white;
  display: flex;
  font-family: "roboto-light", serif;
  align-items: flex-end;
}

.one_finded_people > img {
  border-radius: 10px;
  width: 50px;
}
.one_finded_people > div {
  margin-left: 50px;
}
