@font-face {
  font-family: "roboto-bold";
  src: url("/static/fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "roboto-medium";
  src: url("/static/fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "roboto-light";
  src: url("/static/fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "roboto-mediumItalic";
  src: url("/static/fonts/Roboto-MediumItalic.ttf");
}
.shell_for_search_people {
  position: relative;
  margin: 31px 0 0 80px;
  width: 80%;
  height: 82vh;
  border-radius: 10px;
}
.shell_for_search_people::-webkit-scrollbar-track {
    padding: 2px 0;
    opacity: 1;
}
.shell_for_search_people::-webkit-scrollbar {
    width: 0;
}

.shell_for_search_people::-webkit-scrollbar-thumb {
    opacity: 1;
}
.search_people_wrap {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to top left,
    hsla(280, 62%, 10%, 0.65),
    hsla(339, 66%, 10%, 0.65)
  );
  backdrop-filter: blur(5px);
  border-radius: 10px;
  margin: 1.5px;
}
.search_people_block {
  position: relative;
  max-width: 100%;
  margin-top: 10px;
}
.search_people_block > form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 3%;
}
.search_placeholder {
    width: 77%;
    position: relative;
    font-family: "roboto-medium";
    border-bottom: 3px solid #FF5B79;
}

.search_input_line {
    color: #ddd;
    border: none;
    padding: 0;
    border-radius: 0;
    outline: none;
    width: auto;
    min-width: 100%;
    font-size: 18px;
    line-height: 3em;
    font-family: "roboto-light";
    border-bottom: 3px solid #333333;
    background-color: transparent;
}
.search_button_from_search_page {
  font-family: "roboto-bold";
  font-size: 20px;
  background: none;
  border-radius: 20px;
  border: 3px solid #ff5b79;
  color: #ff5b79;
  height: 40px;
  width: 150px;
  margin-left: 10px;
}
.search_button_from_search_page:hover{
    background: #FF5B79;
    color: #2F1B2A;
}
.list_of_finded_people{
  max-height: 400px;
  overflow: auto;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
.one_finded_people {
  border-radius: 10px;
  background: rgba(0,0,0, 0.3);
  margin-top: 20px;
  color: white;
  display: flex;
  font-family: "roboto-light", serif;
  align-items: center;
  justify-content: space-between;
}
.one_finded_people > form{
  margin-right: 20px;
}
.one_finded_people > form > input {
  background: none;
  border: none;
  cursor: pointer;
  color:white;
  font-size: 20px;
}
.name_and_log{
  display: flex;
  align-items: flex-end;
}
.name_and_log > div {
  font-size: 30px;
  margin-left: 40px;
}
.name_and_log > div > a {
  color:white;
  text-decoration: none;
}
.name_and_log > img {
  margin-left: 10px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
}