<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href = "{{url_for('static', filename='user_page/user_page.css')}}" >
    <title>Document</title>
</head>
<body>
    <div class = "hat">
        <img src = "/static/user_page/Logo.png" width="80" height="80">
        <div class = "hat_info_user">
            <div> {{ account.login }} </div>
            <img src="" alt = "userAvatar">
        </div>
    </div>
    <div class = "main_part_page">
        <div class = "func_list">
            <a href="{{url_for('for_news', id = account.id)}}">Новости</a>
            <a href="{{url_for('user_page', id = account.id)}}">Моя страница</a>
            <a href="{{url_for('for_messanges', id = account.id)}}">Сообщения</a>
            <a href="{{url_for('for_following', id = account.id)}}">Мои подписки</a>
            <a href="{{url_for('for_followers', id = account.id)}}">Мои подписчики</a>
        </div>
        {% block current_page_content %}
        <form action = "/upload" method = "post" enctype="static/img">
            <input class='forms' type="file" placeholder="Выбрать" name = "img">
            <input type="submit" value="загрузить">
        </form>
        {% endblock %}
    </div>
</body>
</html>