<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href = "{{url_for('static', filename='user_page/user_page.css')}}" >
    <title>Document</title>
</head>
<body>
    <div class = "hat">
        <img class ="toplogo" src = "/static/user_page/Logo.png">
        <div class = "sota_hat">S.O.T.A</div>
        <div class = "hat_info_user">
            <img src = "/static/user_page/strelka.svg" class = "strelka" onclick="for_redactor_menu()">
            <div> {{ account.login }} </div>
            <img src= "{{account.avatar}}" alt = "userAvatar" class = 'avatar'>
            <div class = "redactor_menu" id="redactor_menu">
                <a href="">Настройка профиля</a>
                <a href="{{url_for('title')}}">Выход</a>
            </div>
            <script>
                function for_redactor_menu(){
                    document.getElementById("redactor_menu").classList.toggle("show");
                }
                window.onclick= function (event){
                        if ( !event.target.matches('.strelka') && !event.target.matches('.redactor_menu') ){
                            document.getElementById("redactor_menu").classList.remove("show");
                        }
                    }
            </script>
        </div>
    </div>
    <div class = "main_part_page">
        <div class = "func_list">
            <a href="{{url_for('for_news', id = account.id)}}">Новости</a>
            <a href="{{url_for('user_page', id = account.id)}}">Моя страница</a>
            <a href="{{url_for('for_messanges', id = account.id)}}">Сообщения</a>
            <a href="{{url_for('for_following', id = account.id)}}">Мои подписки</a>
            <a href="{{url_for('for_followers', id = account.id)}}">Мои подписчики</a>
        </div>
        <form style="display: none" action = "/upload_n" method = "post" enctype="multipart/form-data">
                <input class='forms' type="file" placeholder="Выбрать" name = "img">
                <input type="submit" value="загрузить">
                <div>312321123123</div>
        </form>
        {% block current_page_content %}
            <div class = "shell_userpage">
                <div class = "userpage">
                    <div class = "userpage_info">
                        <div class = "intro">
                            <img src= "{{account.avatar}}" alt = "userAvatar" class = 'main_avatar'>
                            <div> {{ account.login }} </div>
                        </div>
                        <div class = "userpage_stat">
                            <a href = ""> _количество подписчиков_ </a>
                            <a href = ""> _количество подписок_ </a>
                            <a href = ""> _количество публикаций_ </a>
                        </div>
                    </div>
                    <div class = "posts">
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>
                        <div class = "one_post">ksfdkslfkldsfk</div>

                    </div>
                </div>

            </div>
            <script>
                const block = document.querySelector('.userpage');
                const elementOffsetParent = block.offsetParent;
                const elementOffsetLeft = block.offsetLeft;
                const elementOffsetTop = block.offsetTop;
                const elementOffsetWidth = block.offsetWidth;
                const elementOffsetHeight = block.offsetHeight;
                console.log(elementOffsetParent);
                console.log(elementOffsetLeft);
                console.log(elementOffsetTop);
            </script>
        {% endblock %}
    </div>
</body>
</html>