{% extends 'title_frame/title_frame.html' %}
{%block window_content %}
    <link rel="stylesheet" href = "{{url_for('static', filename='forgotten_password_static/forgotten_password.css')}}" >
    <div id="Forgot_pas">Восстановление пароля.</div>
    {% for msg in get_flashed_messages() %}
    <div class="flash">{{ msg }}</div>
    {% endfor %}
    <form action = "/send_pas" method = "post" id="log">
        <input type="text" placeholder="Введите емеил"name = "mail">
        <input type="submit" value="Отправить письмо">
    </form>
    <a href = "/">Вернуться на страницу входа</a>
{% endblock %}