<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href = "/static/title_frame_static/tittle_frame.css" >
    </head>
    <body>
        <div class = "logIn_block"></div>
        <div class = "logIn_Wind">
            <img src = "/static/title_frame_static/logo2.png" alt = "place for logo1">
            <form id="log">
                <input type="text">
            </form>
            <form id="log">
                <input type="password">
            </form>
            <button form="log" >Log In</button>
            <div class = "logoDownAndForgot">
                <img src = "/static/title_frame_static/Logo.png" alt = "place for logo">
                <a href = "https://www.instagram.com/?hl=ru">Забыли пароль?</a>
            </div>
        </div>
    </body>
</html>