<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href = "{{url_for('static', filename='title_frame_static/tittle_frame.css')}}" >
    </head>
    <body>
        <div class = "logIn_block"></div>
        <div class = "logIn_Wind">
            <img src = "/static/title_frame_static/logo2.png" alt = "place for logo1">
            {% block window_content %}
            <form action = "/check_enter" method = "post" id="log">

                <input type="text" placeholder="Логин" name = "login">
                <input type="password" placeholder="Пароль" name = "password">
                <input type="submit" value="Авторизироваться">
            </form>
            <h1>Неверный логин или пароль</h1>
            <a href ="/add">Кнопка регистрации</a>
            <div class = "logoDownAndForgot">
                <img src = "/static/title_frame_static/Logo.png" alt = "place for logo">
                <a href = "/forgotten_password">Забыли пароль?</a>
            </div>
            {% endblock %}
        </div>
    </body>
</html>
