<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href = "{{url_for('static', filename='title_frame_static/tittle_frame.css')}}" >
    </head>
    <body>
        <div class = "logIn_block"></div>
        <div class = "logIn_Wind">
            <img src = "/static/title_frame_static/logo2.png" alt = "place for logo1">
            {% block window_content %}
            <form id="log">
                <input type="text" placeholder="input email">
            </form>
            <form id="log">
                <input type="password" placeholder="input password">
            </form>
            <button form="log" >Log In</button>
            <a href ="/add">Кнопка регистрации</a>
            <div class = "logoDownAndForgot">
                <img src = "/static/title_frame_static/Logo.png" alt = "place for logo">
                <a href = "/forgotten_password">Забыли пароль?</a>
            </div>
            {% endblock %}
        </div>
    </body>
</html>
