@font-face {
    font-family: Yanone-bold;
    src: url(/static/fonts/Yanone/YanoneKaffeesatz-Bold.ttf);
}
* {
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    margin: 33px 0 0 80px;
    width: 78.1%;
    height: 79vh;
    border-radius: 10px;
    background: linear-gradient(
      to top left,
      hsla(280, 62%, 10%, 0.65),
      hsla(339, 66%, 10%, 0.65)
    );
    backdrop-filter: blur(5px);
    padding: 10px;
}
.container_hat {
    display: flex;
    align-items: center;
    padding: 0 0 5px 0;
    font-size: 30px;
    color: #ffffff;
    font-family: roboto-bold, serif;
    border-bottom: 1px solid white;
}
.container_hat > img {
    width: 40px;
    padding: 0 10px 0 0;
}
.container_content {
    position: relative;
    height: 80%;
    width: 80%;
    margin: 10% auto;
}
.content_redact {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.content_redact > input {
    position: relative;
    align-self: stretch;
    width: 50%;
    height: 40px;
    margin: auto;
    margin-bottom: 7.5%;
    font-size: 30px;
    font-family: Yanone-bold;
    text-align: center;
    text-decoration: none;
    background: none;
    border-radius: 20px;
    border: solid 2px #FF5B79;
    color: #FF5B79;
}
.date::-webkit-inner-spin-button {
    border-left: 2px solid #FF5B79;
    display: none;
}
.date::-webkit-calendar-picker-indicator{
    border-left: 2px solid #FF5B79;
}
.submit {
    max-width: 30%;
}
.submit:hover {
    background: #FF5B79;
    color: #341F30;
}