{% extends 'user_page/user_page.html' %}
{% block current_page_content %}
<link rel="stylesheet" href = "{{url_for('static', filename='search_people_page/search_people_page.css')}}">
    <div class = "shell_for_search_people">
        <div class = "search_people_2">
            <form action="/searching_friends" method="post" >
                <input class="search_input_line" type="search" name="search">
                <input class="search_button_from_search_page" type = "submit" value="найти">
            </form>
            <div class = "list_of_finded_people">
                {% if peoples %}
                    {% for people in peoples %}
                        <div class = "one_finded_people">
                            <div class = "name_and_log">
                                <img src = '{{ people.avatar}}' alt="logo">
                                <div>{{ people.login }}</div>
                            </div>
                            <form action = "{{url_for('subscribe', id = people.id)}}", method="POST">
                                <input type="submit" value="подписаться">
                            </form>
                        </div>
                    {% endfor %}
                {% else %}
                 <h1>Ничего не найдено</h1>
                {% endif %}
        </div>

    </div>
{% endblock %}