{% extends 'user_page/user_page.html' %}
{% block current_page_content %}
<link rel="stylesheet" href = "{{url_for('static', filename='search_people_page/search_people_page.css')}}">
    <div class = "shell_for_search_people">
        <div class = "search_people_2">
            <form>
                <input class="search_input_line" type="search">
                <input class="search_button_from_search_page" type = "button" value="найти">
            </form>
            <div class = "finded_people">

                <div class = "one_finded_people">
                    <img src = "" alt="logo">
                    <div> Фамилия Имя Отчество </div>
                </div>

                <div class = "one_finded_people">
                    <img src = "" alt="logo">
                    <div> Фамилия Имя Отчество </div>
                </div>

                <div class = "one_finded_people">
                    <img src = "" alt="logo">
                    <div> Фамилия Имя Отчество </div>
                </div>

                <div class = "one_finded_people">
                    <img src = "" alt="logo">
                    <div> Фамилия Имя Отчество </div>
                </div>

                <div class = "one_finded_people">
                    <img src = "" alt="logo">
                    <div> Фамилия Имя Отчество </div>
                </div>

                <div class = "one_finded_people">
                    <img src = "" alt="logo">
                    <div> Фамилия Имя Отчество </div>
                </div>

                <div class = "one_finded_people">
                    <img src = "" alt="logo">
                    <div> Фамилия Имя Отчество </div>
                </div>

                <div class = "one_finded_people">
                    <img src = "" alt="logo">
                    <div> Фамилия Имя Отчество </div>
                </div>

                <div class = "one_finded_people">
                    <img src = "" alt="logo">
                    <div> Фамилия Имя Отчество </div>
                </div>

                <div class = "one_finded_people">
                    <img src = "" alt="logo">
                    <div> Фамилия Имя Отчество </div>
                </div>

                <div class = "one_finded_people">
                    <img src = "" alt="logo">
                    <div> Фамилия Имя Отчество </div>
                </div>

                <div class = "one_finded_people">
                    <img src = "" alt="logo">
                    <div> Фамилия Имя Отчество </div>
                </div>

                <div class = "one_finded_people">
                    <img src = "" alt="logo">
                    <div> Фамилия Имя Отчество </div>
                </div>

                <div class = "one_finded_people">
                    <img src = "" alt="logo">
                    <div> Фамилия Имя Отчество </div>
                </div>

                <div class = "one_finded_people">
                    <img src = "" alt="logo">
                    <div> Фамилия Имя Отчество </div>
                </div>

                <div class = "one_finded_people">
                    <img src = "" alt="logo">
                    <div> Фамилия Имя Отчество </div>
                </div>

                <div class = "one_finded_people">
                    <img src = "" alt="logo">
                    <div> Фамилия Имя Отчество </div>
                </div>

                <div class = "one_finded_people">
                    <img src = "" alt="logo">
                    <div> Фамилия Имя Отчество </div>
                </div>

                <div class = "one_finded_people">
                    <img src = "" alt="logo">
                    <div> Фамилия Имя Отчество </div>
                </div>

                <div class = "one_finded_people">
                    <img src = "" alt="logo">
                    <div> Фамилия Имя Отчество </div>
                </div>

                <div class = "one_finded_people">
                    <img src = "" alt="logo">
                    <div> Фамилия Имя Отчество </div>
                </div>

                <div class = "one_finded_people">
                    <img src = "" alt="logo">
                    <div> Фамилия Имя Отчество </div>
                </div>

            </div>

        </div>
        </div>
    </div>
{% endblock %}