{% extends 'user_page/user_page.html' %}
{% block current_page_content %}
 <link rel="stylesheet" href = "{{url_for('static', filename='me_following/me_following.css')}}" >


  <div class="content">
    <div class="subscriptions">
        <div class="sub_search">
            <input type="text" placeholder="Поиск подписок...">
        </div>

        <div class="subscription_profile">
            {% if following %}
            {% for follow in following %}
            <div class="subscription_profile_location">
                <div class="subscription_profile_photo">
                    <img src="{{follow[0]}}" alt="">
                </div>
                <div class="subscription_profile_blya">
                    <div class="subscription_description">
                        <div class="subscription_description_name">
                            <a href="{{url_for('user_page', id = follow[2])}}">{{follow[1]}}</a>
                        </div>
                        <div class="subscription_description_message">
                                <a href="3213" target="_self" class="to_messenger">Написать сообщение</a>
                        </div>
                    </div>
                        <form class="unsubscribe" action="{{url_for('del_following', id_follow = follow[2])}}">
                            <button class="unsubscribe_user spec_del_red"> Отписаться</button>
                        </form>
                </div>
            </div>
            {% endfor %}
            {% else %}
                <h1>Пусто</h1>
            {% endif %}

        </div>
    </div>
  </div>
<script rel="script" src = "{{url_for('static', filename='me_following/me_following.js')}}"></script>
{% endblock %}