{% extends 'user_page/user_page.html' %}
{% block current_page_content %}
<link rel="stylesheet" href = "{{url_for('static', filename='redacting_profile/redacting_profile.css')}}" >
    <div class="container">
        <div class="container_hat">
            <img src="/static/redacting_profile/nastroyka.svg" alt="">
            <p>Редактировать профиль</p>
        </div>
        <div class="container_content">
            <form action="/update_settings" method="post" class="content_redact">
                <input type="text" placeholder="Измените статус" name="status">
                <input type="text" placeholder="Измените страну проживания" name="country">
                <input type="date" value="" name="year">
                <input type="submit" value="Обновить" class="submit">
            </form>
        </div>
    </div>
{% endblock %}  