{% extends 'user_page/user_page.html' %}
{% block current_page_content %}
<link rel="stylesheet" href = "{{url_for('static', filename='my_followers/my_followers.css')}}" >
     <div class="container">
        <div class="followers">
            <div class="followers_title_wrap" >
                <p>Мои подписчики</p>
            </div>
            <div class="followers_search_wrap">
                <div class="followers_search_block">
                    <label>
                        <input type="text" class="search_field" placeholder="Поиск подписчиков">
                    </label>
                </div>
            </div>
            <div class="followers_list_wrap">
                <div class="followers_follower">
                    <div class="follower_image">
                        <img src="/static/my_followers/avatar.png" alt="">
                    </div>
                    <div class="follower_description">
                        <div class="follower_description_nickname">
                            <span>Nickname</span>
                        </div>
                        <div class="follower_description_message">
                            <button style="text-align: center"><a href="!!!Ссылка на диалог с юзером!!!" class="to_messenger">Написать сообщение</a></button>
                        </div>
                    </div>
                    <div class="follower_button">
                        <button style="text-align: center">Удалить подписчика</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}