{% extends 'user_page/user_page.html' %}
{% block current_page_content %}
<link rel="stylesheet" href = "{{url_for('static', filename='my_followers/my_followers.css')}}" >
 <div class="container">
    <div class="followers">
        <div class="followers_search_wrap">
            <div class="followers_search_block">
                <input type="text" placeholder="Поиск...">
            </div>
        </div>
        {% for follow in followed%}
        <div class="followers_list_wrap">
            <div class="followers_follower">
                <div class="follower_container">
                    <div class="follower_image">
                        <img src="{{follow[0]}}" alt="">
                    </div>
                    <div class="follower_description">
                        <div class="follower_description_nickname">
                            <a href="{{url_for('user_page', id = follow[2])}}">{{follow[1]}}</a>
                        </div>
                        <div class="follower_description_message">
                            <a href="!!!Ссылка на диалог с юзером!!!" target="_self" class="to_messenger">Написать сообщение</a>
                        </div>
                    </div>
                </div>
                <div class="follower_button">
                    <button class="delete_follower spec_del_blue spec_del_red" onclick="delUser(0)">Заблокировать</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script rel="script" src = "{{url_for('static', filename='my_followers/my_followers.js')}}"></script>
{% endblock %}