a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:rgb(3, 90, 18);
    background: rgb(8, 255, 70);
    height: 50%;
    border-radius: 10px 10px 10px 10px;
}