@font-face {
    font-family: "Yanone-bold";
    src:url("/static/fonts/Yanone/YanoneKaffeesatz-Bold.ttf");
  }
a{
    font-family: Yanone-bold;
    color: #FF5B79;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    border-radius: 20px;
    border: solid 2px #FF5B79;
}

a:hover{
    background: #FF5B79;
    color: #802b3b;
}

#Forgot_pas{
    text-align: center;
    font-size: 50px;
    font-family: Yanone-bold;
    color: #FF5B79;
}