@font-face {
    font-family: "roboto-bold";
    src: url("/static/fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: "roboto-medium";
    src: url("/static/fonts/Roboto-Medium.ttf");
}
@font-face {
    font-family: "roboto-light";
    src:url("/static/fonts/Roboto-Light.ttf");
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
}
.hat{
    font-family: "roboto-light", serif , "Times New Roman";
    padding-left: 30px;
    padding-right: 30px;
    background:radial-gradient(rgb(17, 87, 3), rgb(19, 51, 13));
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
.hat_info_user{
    width:15%;
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.hat_info_user> img{
    border-radius: 20px;
}
.main_part_page{
    height: 90vh;
    background-image:linear-gradient(rgba(0, 12, 107,0.7),rgba(84, 0, 168, 0.5),rgba(0, 19, 166,0.4), rgba(15, 77, 0, 0.6)), url("/static/user_page/mainbackground.jpeg");
    background-size: cover;
    display: grid;
    padding-left: 5%;
    grid-template-columns: 5fr 30fr;
}
.func_list{
    background:rgb(4, 204, 157);
    border-radius: 20px;
    margin-top: 200px;
    height:200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.func_list > a{
    display: flex;
    align-items: center;
<<<<<<< HEAD
    justify-content: center;
    height: 40px;
    width: 100%;
    text-decoration: none;
    color: rgb(85, 0, 255);
    font-family: "roboto-medium", serif, "Times New Roman";
}
.func_list>a:hover{
    background: rgb(0, 180, 245);
}
.func_list>a:nth-child(1):hover{
    border-radius: 20px 20px 0 0;
}
.func_list>a:nth-child(5):hover{
    border-radius: 0 0 20px 20px;
}
=======
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 15px;
    border: 1px solid white;}
>>>>>>> c476cab26ad5e7820c79abe4ebd6550d339d472c
