body{
    background: black;
}
.hat{
    display: flex;
    color:green;
    font-size: 20px;
    justify-content: space-around;
    align-items: center;
}
.hat_info_user{
    display: flex;
}
.main_part_page{
    display: grid;
    padding-left: 5%;
    grid-template-columns: 5fr 30fr;
}
.func_list{
    background: aquamarine;
    margin-top: 200px;
    height:200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-column-gap: 20px;
}