*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background: radial-gradient(rgb(10, 10, 10), black);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logIn_block{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("ofomor.jpg");
    filter:blur(20px);
    height: 600px;
    width: 600px;
}
.logIn_Wind{
    box-shadow: 10px 10px 0px rgba(5, 54, 0, 0.363); 
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    z-index: 100;
    height: 450px;
    width: 250px;
    border-radius: 10px ;
    background: rgb(138, 197, 1);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 0.1fr 1.5fr;
    row-gap: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.logIn_Wind > img{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.forms{
    width: 100%;
}
@media screen and (max-width:600px){
    .logIn_block{
        background:none;
    }
    .logIn_Wind{
        box-shadow: none;
    }
}