<!doctype html>
<html lang="ru">
<head>
    <link rel="stylesheet" href = "{{url_for('static', filename='404_error/404_error.css')}}" >
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>
</head>
<body>
    <h1>ERROR 4<img src="/static/user_page/Logo.png" class="sota_error" width="100px">4</h1>
    <img src = "/static/404_error/lost2.gif" class="tyler"  width="350px">
    <div class="description">
        <h2>You get lost....</h2>
        <a href = "/" >RETURN TO YOUR DESTINY</a>
    </div>
</body>
</html>