<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href = "{{url_for('static', filename='register_form/register_form.css')}}" >
    </head>
    <body>
        <div class = "logIn_block"></div>
        <div class = "logIn_Wind">
            <!-- <img src = "/static/title_frame_static/logo2.png" alt = "place for logo1"> -->
            <form action = "/reister" method = "user"id="log">

                <input class='forms' type="text" placeholder="input email" name = "mail">
                <input class='forms' type="text" placeholder="input log" name = "login">
                <input class='forms' type="password" placeholder="input password" name = "password">
                <input type="submit" value="Регистрация">
            </form>
            
            
        </div>
    </body>
</html>