<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href = "{{url_for('static', filename='register_form/register_form.css')}}" >
    </head>
    <body>
        <div class = "logIn_block"></div>
        <div class = "logIn_Wind">
            <form action = "/register" method = "post"id="log">

                <input class='forms' type="text" placeholder="input email" name = "mail">
                <div class = "Error" style = "{{errors[0]}}">Некорректный email</div>

                <input class='forms' type="text" placeholder="input log" name = "login">
                <div class = "Error" style = "{{errors[1]}}">Некорректный логин</div>
                <div class = "Error" style = "{{errors[2]}}">Логин уже существует</div>

                <input class='forms' type="password" placeholder="input password" name = "password">
                <input class='forms' type="password" placeholder="input password" name = "repeat the password">
                <div class = "Error" style = "{{errors[3]}}">Некорректный пароль</div>
                <div class = "Error" style = "{{errors[4]}}">Пароли не совпадают</div>
                
                <input type="submit" value="Регистрация">
            </form>
            
            
        </div>
    </body>
</html>