<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href = "{{url_for('static', filename='register_form/register_form.css')}}" >
    </head>
    <body>
        <div class = "logIn_block"></div>
        <div class = "logIn_Wind">
            <!-- <img src = "/static/title_frame_static/logo2.png" alt = "place for logo1"> -->
            <form action = "/register" method = "post"id="log">

                <input class='forms' type="text" placeholder="Введите Емейл" name = "mail">
                <input class='forms' type="text" placeholder="Введите логин" name = "login">
                <input class='forms' type="password" placeholder="Введите пароль" name = "password">
                <input class='forms' type="password" placeholder="Подтвердите пароль" name = "repeat the password">
                <input class="register_button" type="submit" value="Регистрация">
            </form>
            
            
        </div>
    </body>
</html>